<header>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Forum', :posts %> |
    <% if user_signed_in? %>
        <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </nav>
</header>
<section>
  <article>
  <h1>Welcome <%=  %></h1>
    <% if user_signed_in? %>
        <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
        <br>
        <%= link_to('Edit registration', edit_user_registration_path) %>
    <% else %>
        <p>You are not logged in. You will not be able to post a thread.</p>
        <%= link_to('Login', new_user_session_path)  %> |
        <%= link_to('Sign-up', new_user_registration_path) %>
    <% end %>
  </article>
</section>