<header>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Forum', :posts %> |
    <% if user_signed_in? %>
        <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </nav>
</header>
<section>
  <% if user_signed_in? %>
      <div class="new-thread">
        <p><%= link_to 'Create a new thread', new_post_path %></p>
      </div>
  <% else %>
  <% end %>
  <% @posts.each do |post|%>
    <article>
      <div class="post-demo">
        <h2>
          <%= link_to post.title, post_url(post)%>
        </h2>
        <p><%= truncate(post.content, length: 300) %></p>
        <p><%= post.created_at.strftime('%b. %e, %Y at %H:%M')%></p>
      </div>
    </article>
  <% end %>
</section>