<header>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Forum', :posts %> |
    <% if user_signed_in? %>
        <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </nav>
</header>
<section>
  <article>
    <h1>Create a new thread</h1>
    <div class="back">
      <p><%= link_to 'Go back', :back %></p>
    </div>
    <%= form_for @post do |f| %>
      <%= f.text_field :title, placeholder: 'Title' %>
      <br>
      <%= f.text_area :content, placeholder: 'Content' %>
      <br>
      <%= f.submit %>
    <% end %>
  </article>
</section>