<header>
  <nav>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'Forum', :posts %> |
    <% if user_signed_in? %>
        <%= link_to('You are logged in. Logout?', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </nav>
</header>
<section>
  <article>
    <div class="back">
        <p><%= link_to 'Go back', :back %></p>
    </div>
    <h2><%= @post.title %></h2>
    <p><%= @post.content %></p>
  </article>
  <div class="comments">
    <h3>Comments:</h3>
    <% @post.replies.each do |reply| %>
      <div class="comment">
        <p><%= reply.content %></p>
      </div>
    <% end %>
    <%= form_for @reply do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <% if user_signed_in? %>
          <%= f.text_area :content, placeholder: 'Write a comment...' %>
          <br>
          <%= f.submit 'Submit'%>
        <% else %>
            <p>You cannot post a comment because you are not signed in.</p>
        <% end %>
    <% end %>
  </div>
</section>