html, body
  margin: 0
  padding: 0

p, h1, h2, h3, a
  font-family: 'Fira Sans', sans-serif

body
  background-color: #2E2F30

header
  width: 1000px
  background-color: #ff1630
  margin: auto
  box-shadow: 1px 3px 6px
  display: flex

nav
  margin: 20px
  color: white
  a
    color: white

a
  text-decoration: none
  color: #000000

section
  width: 1000px
  background-color: #FFFFFF
  margin: 0 auto
  box-shadow: 1px 3px 6px
  display: flex
  flex-direction: column
  .new-thread
    a
      color: #ff1630
      padding-left: 30px


article
  width: 940px
  margin: 10px
  padding-left: 20px
  padding-right: 20px
  a
    color: #ff1630

.post-demo
  padding-left: 10px
  border-left: 1px solid #2E2F30
  transition: 100ms
  a
    color: black
  &:hover
    border-left: 5px solid #ff1630
  a:hover
    color: #ff1630

.comments
  margin: 10px
  padding-left: 20px
  padding-right: 20px
  p
    padding-left: 20px

  textarea
    border: 1px solid black
    margin: 10px
    width: 400px
    height: 100px
    font-family: sans-serif
    font-size: 10pt

  input
    margin-left: 10px

.comment
  border: 1px solid black
  margin: 10px

  // New thread area

#new_post
    textarea
      width: 100%
      height: 100px





